.common_container#session_page
  %h2 Resend confirmation instructions
  - html_options = { id: :new_user, class: %w(validated form-horizontal), method: :post }
  = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: html_options) do |f|
    = devise_error_messages!
    %section.control-group
      = f.label :email, nil, class: 'control-label'
      %section.controls
        = f.email_field :email
    %section.control-group
      %section.controls
        = f.submit "Resend confirmation instructions"
  = render partial: "devise/shared/links"
