.common_container#home_page.systematic
  %h2= @subtitle
  %table.table.table-striped
    %thead
      %tr
        %th
          Object
        %th
          Count
        %th
          Deleted
    %tbody
      %tr
        %th
          = User.model_name.human
        %td
          = User.count
        %td
          = User.deleted.count
      %tr
        %th
          = Game.model_name.human
        %td
          = Game.count
        %td
          = Game.deleted.count
      %tr
        %th
          = Movement.model_name.human
        %td
          = Movement.count
        %td
          = Movement.deleted.count
      %tr
        %th
          = Feedback.model_name.human
        %td
          = Feedback.parents.count
        %td
          = Feedback.parents.deleted.count
