= form_for [:sys, tag_element], html: { class: %w(edit_tag validated form-horizontal), multipart: true } do |f|
  %section.control-group
    = f.label :code, nil, class: 'control-label'
    %section.controls
      = f.text_field :code, class: :required
  %section.control-group
    = f.label :image, nil, class: 'control-label'
    %section.controls
      = f.file_field :image, class: :required
  - Sengine::LOCALES.each do |locale|
    - locale_string = locale.to_s
    %h3
      = locale
    %section.control-group
      - name = "tag[name_translations][#{locale_string}]"
      - content = tag_element.name_translations[locale_string]
      = label_tag name, Tag.human_attribute_name(:name), class: 'control-label'
      %section.controls
        = text_field_tag name, content, class: :required
    %section.control-group
      - name = "tag[content_translations][#{locale_string}]"
      - content = tag_element.content_translations[locale_string]
      = label_tag name, Tag.human_attribute_name(:content), class: 'control-label'
      %section.controls
        = text_area_tag name, content, class: :required
  %section.control-group
    = f.label :image, nil, class: 'control-label'
    %section.controls
      = f.file_field :image
  %section.control-group
    %section.controls
      = f.submit t('helpers.submit.save'), class: 'btn btn-primary'
