- unless defined?(decorator)
  - decorator = TagDecorator.new tag_element
- attr_names = %w(id code image)
%table.table.table-striped
  %thead
    %tr
      %th
        Attribute
      %th
        Content
  %tbody
    - attr_names.each do |attr_name|
      %tr
        %th
          = Tag.human_attribute_name(attr_name)
        %td
          = decorator.public_send(attr_name)

- Sengine::LOCALE_STRINGS.each do |locale|
  %table.table.table-striped
    %thead
      %tr
        %th
          = Tag.human_attribute_name('locale')
        %th
          = locale
    %tbody
      %tr
        %th
          = Tag.human_attribute_name('name')
        %td
          = decorator.name_translations[locale]
      %tr
        %th
          = Tag.human_attribute_name('content')
        %td
          = decorator.content(locale)
