- decorator = CommentDecorator.new comment
- game = comment.commentable
- if defined?(with_commentable) && with_commentable && game
  - game_decorator = GameDecorator.new game
  - name = t('actions.watch_model', model: Game.model_name.human)
  - game_link = link_to name, game
- else
  - game_link = nil
- unless defined?(insert_time)
  - insert_time = nil
%li.comment{ 'comment-id' => comment.id, 'data-insert-time' => insert_time }
  .comment_info
    = decorator.author_image true
    .comment_content
      = decorator.content
      %br
      = decorator.created_at
      - if game_link
        %span.comment_game
          .visible-phone
            \(#{game_link})
  - if game_link
    .comment_game.hidden-phone
      = game_decorator.name(true, false)
