= form_for [:sys, @new_feedback] do |f|
  %section.field
    = f.label :content
    = f.text_area :content, rows: 4, class: :required
  %aside.actions
    = f.hidden_field :parent_id
    = f.submit t('helpers.submit.save'), class: :send, disable_with: 'Submitting...'
