- decorator = UserDecorator.new(user)
%h3= User.human_attribute_name('image')
%p
  = decorator.image
%h3= User.human_attribute_name('name')
%p
  = decorator.name(false)
%h3= User.human_attribute_name('gender')
%p
  = decorator.gender
%h3= User.human_attribute_name('locale')
%p
  = decorator.locale
%h3= User.human_attribute_name('timezone')
%p
  = decorator.timezone
%h3= User.human_attribute_name('games')
%p
  = user.sente_games.count + user.gote_games.count
%h3= User.human_attribute_name('won_games')
%p
  = user.won_games.count
%h3= User.human_attribute_name('lost_games')
%p
  = user.lost_games.count
