.common_container#session_page
  %h2 Change your password
  - html_options = { id: :user_edit, class: %w(validated form-horizontal), method: :put }
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: html_options) do |f|
    = f.hidden_field :reset_password_token
    = devise_error_messages!
    %section.control-group
      = f.label :password, "New password", class: 'control-label'
      %section.controls
        = f.password_field :password
    %section.control-group
      = f.label :password_confirmation, "Confirm new password", class: 'control-label'
      %section.controls
        = f.password_field :password_confirmation
    %section.control-group
      %section.controls
        = f.submit "Change my password"
  = render partial: "devise/shared/links"
