%a.btn.btn-navbar{ href: '#global_navi', 'data-toggle' => 'collapse' }
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar
%h1.brand
  = link_to site_title, root_path, 'data-skip-pjax' => true
%nav#global_navi.nav-collapse.collapse
  %ul.nav.pull-right
    - if user_signed_in?
      %li.hidden-desktop
        = link_to page_name('games', 'new'), new_game_path
      %li.hidden-desktop
        = link_to page_name('games', 'index'), playing_games_path
      %li.hidden-desktop
        = link_to page_name('profile', 'show'), profile_path(current_user.id)
    - elsif facebook_enabled?
      %li
        = link_to t('actions.invite_friends'), '#', class: :invite_facebook
    - else
      %li
        - name = t('helpers.submit.sign_in')
        - if facebook_enabled?
          = link_to name, user_omniauth_authorize_path(:facebook), 'data-disable-with' => t('actions.now_loading')
        - else
          = link_to name, new_user_session_path, 'data-disable-with' => t('actions.now_loading')
    - if user_signed_in?
      %li.hidden-desktop
        = link_to page_name('setting', 'edit'), edit_setting_objective_path('default')
      %li.hidden-desktop
        = link_to t('helpers.submit.sign_out'), destroy_user_session_path, method: :delete
    %li.dropdown.visible-desktop
      - if user_signed_in?
        %a.dropdown-toggle#user_dropdown{ href: '#', 'data-toggle' => 'dropdown', role: 'button' }
          - title = current_user_decorator.name_with_grade
          = current_user_decorator.image(false, { title: title, alt: title, width: 16, height: 16 })
          = current_user_decorator.name
          %b.caret
        %ul.dropdown-menu{ role: 'menu', 'aria-labelledby' => "user_dropdown" }
          %li
            = link_to page_name('games', 'new'), new_game_path
          %li
            = link_to page_name('games', 'index'), playing_games_path
          %li
            = link_to page_name('profile', 'show'), profile_path(current_user.id)
          %li
            = link_to page_name('setting', 'edit'), edit_setting_objective_path('default')
          %li
            = link_to t('helpers.submit.sign_out'), destroy_user_session_path, method: :delete
