.common_container#mypage
  %h2= @subtitle
  %article#mypage_main
    #mypage_profile
      = render 'profile/profile', user: current_user
    %nav#mypage_navi
      = render 'home/mypage/menu'
  - comments = []
  - games = Game.of_user(current_user).playing.desc(:created_at).limit(3).to_a
  - if games.present?
    - comments = Comment.of_game(games).desc(:created_at).limit(3).to_a
    %ul.tabs#games_tab
      %li
        %span.active
          = t("pages.controllers.games.playing")
  - else
    - games = Game.desc(:created_at).limit(3).to_a
    %ul.tabs#games_tab
      %li
        %span.active
          = t("game.everyone")
  = render 'games/games', games: games, with_pagination: false
  %ul.tabs#comments_tab
    %li
      %span.active
        = Comment.model_name.human
  - if comments.blank?
    - comments = Comment.desc(:created_at).limit(3).to_a
  = render 'comments/comments', comments: comments, with_pagination: false, with_game: true
