.common_container#mypage
  %h2= @subtitle
  %article#mypage_main
    #mypage_profile
      = render 'profile/profile', user: current_user
    %nav#mypage_navi
      = render 'home/mypage/menu'
  - if @games.present?
    %ul.tabs
      %li
        %span.active
          = t("pages.controllers.games.playing")
    = render 'games/games', games: @games, with_pagination: false

