= form_for @game, html: { class: %w(validated edit_game) } do |f|
  %section.field
    = label_tag 'game_order', "1. #{t('actions.select_sente_or_gote')}"
    - %w(sente gote random).each do |order|
      = label_tag "game_order_#{order}", t("game.orders.#{order}"), class: :inline
      = radio_button_tag 'game_order', order, order == 'random', class: :required
  %section.field
    = label_tag 'game_opponent_id', "2. #{t('actions.select_opponent')}"
    = hidden_field_tag 'game_opponent_id', nil
    #opponent_fields.slider
    :javascript
      $(function () {
        $.get("/games/opponent_fields", function (data) {
          $("#opponent_fields").html(data);
          if ($("#opponent_fields img.face").size() == 0) {
            $.invite_facebook();
          } else {
            $("#opponent_fields img.face:first").click();
          }
        });
      });
  %section.field
    = f.label :theme, "3. #{Game.human_attribute_name :theme}"
    = f.hidden_field :theme
    .slider
      - current_user.themes.each do |theme|
        .slide
          = game_theme_icon theme, 'theme-id' => theme
  %section.actions
    = f.submit t('helpers.submit.play_game'), 'data-disable-with' => t('actions.now_loading')
:javascript
  $(function () {
    $('form.edit_game').on('click', 'img.face', function () {
      var user_id = $(this).attr('user-id');
      $("input#game_opponent_id").val(user_id);
      var sliders = $(this).parents('.slider');
      sliders.children('.slide').removeClass('active');
      $(this).parents('.slide').addClass('active');
    });
    $('form.edit_game').on('click', 'img.theme', function () {
      var theme_id = $(this).attr('theme-id');
      $("input#game_theme").val(theme_id);
      var body_class = $('body').attr('class');
      $('body').attr('class', body_class.replace(/theme_\w+/, 'theme_' + theme_id));
      var sliders = $(this).parents('.slider');
      sliders.children('.slide').removeClass('active');
      $(this).parents('.slide').addClass('active');
    });

    $('img.theme:first').click();
  });
