= form_for @game, html: { class: %w(validated edit_game) } do |f|
  %section.field
    = label_tag 'game_opponent_id', "1. #{t('actions.select_opponent')}"
    = hidden_field_tag 'game_opponent_id', nil
    #opponents_slider.slider
      .left.disabled
      .right.disabled
      .now_loading
        = t('actions.now_loading')
  %section.field
    = f.label :theme, "2. #{Game.human_attribute_name :theme}"
    = f.hidden_field :theme
    #themes_slider.slider
      .left.disabled
      .right.disabled
      %ul.slides
        - current_user.themes.each do |theme|
          %li.slide
            %a{ class: :theme, href: '#' }
              = game_theme_icon theme, 'theme-id' => theme
  %section.field
    = label_tag 'game_order', "3. #{t('actions.select_sente_or_gote')}"
    = hidden_field_tag 'game_order', nil
    #order_field.btn-group
      - %w(sente gote random handicap).each do |order|
        - html_options = { 'game-order' => order }
        - if order == 'random'
          - html_options[:class] = 'game_order btn btn-primary active'
        - else
          - html_options[:class] = 'game_order btn'
        = link_to t("game.orders.#{order}"), '#', html_options
    #game_handicap_select
      = select_tag :game_handicap, options_for_select(game_handicaps_for_select)
  %section.actions
    = f.submit t('helpers.submit.play_game'), 'data-disable-with' => t('actions.now_loading'), class: 'btn btn-block btn-large btn-primary'
:javascript
  $(function () {
    Shogi.edit_game_form($('form.edit_game'));
  });
