= form_for @game, html: { class: :validated } do |f|
  %section.field
    = label_tag 'game_order', t('actions.select_sente_or_gote')
    - %w(sente gote random).each do |order|
      = label_tag "game_order_#{order}", t("game.orders.#{order}"), class: :inline
      = radio_button_tag 'game_order', order, order == 'random', class: :required
  %section.field
    = label_tag 'game_opponent_id', t('actions.select_opponent')
    - @friends.each_with_index do |user, i|
      - user_decorator = UserDecorator.new(user)
      - user_id = user.id.to_s
      %label.inline{ for: "game_opponent_id_#{user_id}" }
        = user_decorator.image
        = user_decorator.name(false)
      = radio_button_tag 'game_opponent_id', user_id, i == 0, class: :required
  %section.field
    = f.label :theme
    - Game::THEMES.each do |theme|
      %label.inline{ for: "game_theme_#{theme}" }
        = game_theme_icon theme
        = theme
      = f.radio_button :theme, theme, class: :required
  %section.actions
    = f.submit t('helpers.submit.play_game'), 'data-disable-with' => t('actions.now_loading')
