= form_for @game, html: { class: %w(validated edit_game) } do |f|
  %section.field
    = label_tag 'game_order', "1. #{t('actions.select_sente_or_gote')}"
    = hidden_field_tag 'game_order', 'random'
    #order_field
      - %w(sente gote random).each do |order|
        - html_options = { 'game-order' => order }
        - if order == 'random'
          - html_options[:class] = 'button active game_order'
        - else
          - html_options[:class] = 'button game_order'
        = link_to t("game.orders.#{order}"), '#', html_options
  %section.field
    = label_tag 'game_opponent_id', "2. #{t('actions.select_opponent')}"
    = hidden_field_tag 'game_opponent_id', nil
    #opponents_slider.slider
      .left.disabled
      .right.disabled
      %ul.slides
    :javascript
      $(function () {
        $.get("/games/opponent_fields", function (data) {
          var slides = $("#opponents_slider ul.slides");
          slides.html(data);
          var size = $("#opponents_slider img.face").size();
          if (size == 0) {
            $.invite_facebook();
          } else {
            $("#opponents_slider img.face:first").click();
            $('#opponents_slider').form_slider();
          }
        });
      });
  %section.field
    = f.label :theme, "3. #{Game.human_attribute_name :theme}"
    = f.hidden_field :theme
    #themes_slider.slider
      .left.disabled
      .right.disabled
      %ul.slides
        - current_user.themes.each do |theme|
          %li.slide
            = game_theme_icon theme, 'theme-id' => theme
  %section.actions
    = f.submit t('helpers.submit.play_game'), 'data-disable-with' => t('actions.now_loading')
:javascript
  $(function () {
    $('form.edit_game').on('click', 'a.game_order', function () {
      var game_order = $(this).attr('game-order');
      $('a.game_order').removeClass('active');
      $(this).addClass('active');
      $('input#game_order').val(game_order);
      return false;
    });
    $('form.edit_game').on('click', 'img.face', function () {
      var user_id = $(this).attr('user-id');
      $("input#game_opponent_id").val(user_id);
      var sliders = $(this).parents('.slider');
      sliders.find('.slide').removeClass('active');
      $(this).parents('.slide').addClass('active');
    });
    $('form.edit_game').on('click', 'img.theme', function () {
      var theme_id = $(this).attr('theme-id');
      $("input#game_theme").val(theme_id);
      var body_class = $('body').attr('class');
      $('body').attr('class', body_class.replace(/theme_\w+/, 'theme_' + theme_id));
      var sliders = $(this).parents('.slider');
      sliders.find('.slide').removeClass('active');
      $(this).parents('.slide').addClass('active');
    });

    $('img.theme:first').click();
    $('#themes_slider').form_slider();
  });
