%li.game
  - decorator = GameDecorator.new game
  - sente_decorator = game.sente_user ? UserDecorator.new(game.sente_user) : nil
  - gote_decorator = game.gote_user ? UserDecorator.new(game.gote_user) : nil
  - won_decorator = game.won_user ? UserDecorator.new(game.won_user) : nil
  %h3
  .game_users
    - if sente_decorator
      = sente_decorator.image
    vs
    - if gote_decorator
      = gote_decorator.image
  .game_info
    = link_to "#{decorator.created_at}〜".html_safe, game
    %br
    - if won_decorator
      = won_decorator.name(true)
      won.
      %br
    = Game.human_attribute_name(:number)
    = decorator.number
  .game_status
    - if game.of_user? current_user
      = link_to t('actions.destroy'), game, confirm: t('confirms.are_you_sure_'), method: :delete, 'data-remote' => true, class: :delete

