%li.game
  - decorator = GameDecorator.new game
  - sente_decorator = game.sente_user ? UserDecorator.new(game.sente_user) : nil
  - gote_decorator = game.gote_user ? UserDecorator.new(game.gote_user) : nil
  - won_decorator = game.won_user ? UserDecorator.new(game.won_user) : nil
  %h3
    = link_to decorator.created_at, game
  %p
    - if sente_decorator
      = sente_decorator.image(true)
      = sente_decorator.name(true)
    vs
    - if gote_decorator
      = gote_decorator.image(true)
      = gote_decorator.name(true)

    - if won_decorator
      , and
      = won_decorator.name(true)
      won.

    = Game.human_attribute_name(:number)
    = decorator.number

    - if game.of_user? current_user
      = link_to t('actions.destroy'), game, confirm: t('confirms.are_you_sure_'), method: :delete, 'data-remote' => true, class: :delete

