.common_container#game_page
  %h2
    - if @subtitle.is_a? Array
      = @subtitle[1]
    - else
      = @subtitle
  %ul.tabs
    - %w(playing mine friends).each do |page|
      - name = t("pages.controllers.games.#{page}")
      - href = { controller: 'games', action: page }
      - html_classes = []
      - if action_name == page
        - html_classes << 'active'
      %li
        = link_to name, href, class: html_classes
  = render 'games/games', games: @games
