.common_container#game_page
  %h2
    - if @subtitle.is_a? Array
      = @subtitle[1]
    - else
      = @subtitle
  - %w(playing mine friends).each do |page|
    - name = t("pages.controllers.games.#{page}")
    - href = { controller: 'games', action: page }
    = link_to name, href
  = render 'games/games', games: @games
