.common_container
  %h2= Game.model_name.human

  %table.resources
    %thead
      %tr
        %th= Game.model_name.human
        %th
        %th

    %tbody
      - @games.each do |game|
        %tr
          %td
            = link_to l(game.created_at), game
          %td= link_to 'Edit', edit_game_path(game)
          %td= link_to 'Destroy', game, :confirm => 'Are you sure?', :method => :delete

    %br

  = link_to 'New Game', new_game_path
