.common_container
  %table.resources
    %thead
      %tr
        %th= Game.model_name.human
        %th= Game.human_attribute_name('sente_user')
        %th= Game.human_attribute_name('gote_user')
        %th

    %tbody
      - @games.each do |game|
        - sente_decorator = game.sente_user ? UserDecorator.new(game.sente_user) : nil
        - gote_decorator = game.gote_user ? UserDecorator.new(game.gote_user) : nil
        %tr
          %td
            = link_to l(game.created_at), game
          %td
            - if sente_decorator
              = sente_decorator.name
          %td
            - if gote_decorator
              = gote_decorator.name
          %td= link_to t('actions.destroy'), game, confirm: 'Are you sure?', method: :delete

  %p
    = link_to t('actions.new'), new_game_path
