.common_container
  %h2= @subtitle
  - if @game.boards.present?
    #game.board_container
      = render 'boards/board', board: @game.boards.last, game: @game
    - if @game.playing? && (@game.sente_user == current_user || @game.gote_user == current_user)
      .actions
        = link_to t('actions.give_up'), give_up_game_path(@game), class: :button, method: :put, confirm: 'Are you sure?'
    - unless @game.playing?
      #game_result
        - won_decorator = UserDecorator.new @game.won_user
        = won_decorator.name
        won!


  - if Rails.env.production?
    = render 'games/facebook_comments', game: @game
