= form_for(current_user, url: setting_path) do |f|
  .field
    = f.label :name
    %br
    = f.text_field :name
  .field
    = f.label :timezone_string
    %br
    = f.time_zone_select :timezone_string, nil, :include_blank => true
  .actions
    = f.submit t('helpers.submit.save'), class: :send
