.common_container#setting_page
  - if @subtitle.is_a? Array
    - name = @subtitle.first
  - else
    - name = @subtitle
  %h2<
    %i.icon-wrench
    = name
  .row
    .span3
      = render 'setting/side'
    .span9
      - if @objective
        = render "setting/forms/#{@objective}"
      - else
        = render 'setting/forms/default'
