.common_container#setting_page
  %h2<
    %i.icon-wrench
    = @subtitle
  .row
    .span3
      = render 'setting/side'
    .span9
      - if @objective
        = render "setting/forms/#{@objective}"
      - else
        = render 'setting/forms/default'
