%a.btn.btn-navbar{ href: '#global_navi', 'data-toggle' => 'collapse' }
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar
%h1.brand
  = link_to sys_site_title, sys_root_path, 'data-skip-pjax' => true
%nav#global_navi.nav-collapse.collapse
  %ul.nav.pull-right
    %li
      = link_to User.model_name.human, sys_users_path
    %li
      = link_to Game.model_name.human, sys_games_path
    %li
      = link_to Feedback.model_name.human, sys_feedbacks_path
    %li
      = link_to Tag.model_name.human, sys_tags_path
    %li
      = link_to 'Resque', '/sys/resque', target: :_blank
    - if user_signed_in?
      %li
        = link_to t('helpers.submit.sign_out'), destroy_user_session_path, method: :delete, class: :right

