- decorator = FeedbackDecorator.new feedback
- html_classes = %w(feedback)
- disabled = feedback.success?
%li{ class: html_classes, 'feedback-id' => feedback.id }
  .status_buttons
    .status_button
      - href = like_feedback_path(feedback)
      - name = t('feedback.actions.like')
      - if disabled
        %span.like= name
      - else
        = link_to name, href, class: %w(like), method: :put, remote: true
      .number
        = decorator.like_number
    .status_button
      - href = dislike_feedback_path(feedback)
      - name = t('feedback.actions.dislike')
      - if disabled
        %span.dislike= name
      - else
        = link_to name, href, class: %w(dislike), method: :put, remote: true
      .number
        = decorator.dislike_number
  .feedback_content
    - if feedback.success?
      %span.success
        = t('feedback.status.success')
    = decorator.content
