- decorator = FeedbackDecorator.new feedback
- html_classes = %w(feedback)
- disabled = feedback.success?
%li{ class: html_classes }
  .status_buttons
    .status_button
      - href = like_feedback_path(feedback)
      - name = t('feedback.actions.like')
      - if disabled
        %span.like= name
      - else
        = link_to name, href, class: %w(like), 'data-method' => :put
      .number
        = decorator.like_number
    .status_button
      - href = dislike_feedback_path(feedback)
      - name = t('feedback.actions.dislike')
      - if disabled
        %span.dislike= name
      - else
        = link_to name, href, class: %w(dislike), 'data-method' => :put
      .number
        = decorator.dislike_number
  .feedback_content
    = decorator.content
