.common_container#feedback_page
  %h2<
    %i.icon-globe
    = @subtitle
  = render 'about'
  - if user_signed_in?
    = render 'form', feedback: @feedback
  %ul.tabs
  .row#game_information
    .span3
      %ul.nav.nav-tabs.nav-stacked
        - %w(index success).each do |page|
          - name = t("pages.controllers.feedbacks.#{page}")
          - href = { controller: 'feedbacks', action: page }
          %li{ class: (action_name == page ? 'active' : nil) }
            = link_to name, href
    .span9
      .tab-content
        .tab-pane.fade.in.active
          = render 'feedbacks', feedbacks: @feedbacks, with_pagination: true, show_not_found: true
