- html_options = { class: %w(edit_user validated form-horizontal) }
= form_for(current_user, url: setting_path, html: html_options) do |f|
  %section.control-group
    = f.label :name, nil, class: 'control-label'
    %section.controls
      = f.text_field :name, class: :required
  %section.control-group
    = f.label :content, nil, class: 'control-label'
    %section.controls
      = f.text_area :content, class: :required, rows: 4
  %section.control-group
    %section.controls
      - if @objective
        = hidden_field_tag :objective, @objective
      = f.submit t('helpers.submit.save'), class: 'btn btn-primary'
