!!!
%html{ lang: I18n.locale }
  %head
    = render 'sys/shared/head'
  - html_class = make_theme_class_from_game(@game)
  %body.admin{ class: html_class }
    - if facebook_enabled?
      = render 'shared/facebook_javascript_sdk'
    .whole_container
      %header#global_head.navbar.navbar-inverse.navbar-static-top
        .navbar-inner
          .container
            = render 'sys/shared/global_head'
      %section.container
        %section#global_body
          .inner{ 'data-pjax-container' => true }
            = yield
            - if facebook_enabled?
              = render 'shared/reparse_xfbml'
            = render 'shared/notices'
            = render 'shared/locale'
        %footer#global_foot
          .inner
            = render 'sys/shared/global_foot'
