!!!
%html
  %head
    = render 'sys/shared/head'
  %body.admin
    - if facebook_enabled?
      = render 'common/facebook_javascript_sdk'
    .whole_container
      %header#global_head
        .inner
          = render 'sys/shared/global_head'
      %section#global_body
        .inner{ 'data-pjax-container' => true }
          = yield
          - if facebook_enabled?
            = render 'common/reparse_xfbml'
          = render 'common/notices'
          = render 'common/locale'
      %footer#global_foot
        .inner
          = render 'sys/shared/global_foot'
