- decorator = PushDecorator.new(push)
%table.table.table-striped.push
  %thead
    %tr
      %th.span2
        Attribute
      %th
        Content
  %tbody
    %tr
      %th
        = Push.human_attribute_name('content')
      %td
        = decorator.content(true)
    %tr
      %th
        = Push.human_attribute_name('hidden_users')
      %td
        - push.hidden_users.limit(10).each do |user|
          - user_decorator = UserDecorator.new user
          - name = user_decorator.name
          = link_to name, [:sys, user]
        - count = push.hidden_users.count
        - if count > 10
          - name = '...'
          = name
