- decorator = UserDecorator.new(user)
%dl#user_profile
  - %w(image name locale timezone).each do |attr_name|
    %dt
      = User.human_attribute_name(attr_name)
    %dd
      = decorator.public_send(attr_name)
  %dt
    = User.human_attribute_name('games')
  %dd
    = decorator.games_count
  %dt
    = User.human_attribute_name('won_games')
  %dd
    = decorator.won_games_count
  %dt
    = User.human_attribute_name('lost_games')
  %dd
    = decorator.lost_games_count
