- decorator = UserDecorator.new(user)
= link_to decorator.face, decorator.facebook_url, target: "_blank"
%dl#user_profile
  %dt
    = User.human_attribute_name('name')
  %dd
    = decorator.name
    \(
    = decorator.online
    \)

  - %w(grade score locale timezone).each do |attr_name|
    %dt
      = User.human_attribute_name(attr_name)
    %dd
      = decorator.public_send(attr_name)
  %dt
    = User.human_attribute_name('games')
  %dd
    = decorator.games_count
  %dt
    = User.human_attribute_name('won_games')
  %dd
    = decorator.won_games_count
  %dt
    = User.human_attribute_name('lost_games')
  %dd
    = decorator.lost_games_count
