- decorator = UserDecorator.new(user)
- image_tag = decorator.image(false, class: 'face large')
#user_profile
  = link_to image_tag, decorator.facebook_url, target: "_blank", id: :user_face
  %dl
    %dt
      = User.human_attribute_name('name')
    %dd
      = decorator.name
      = decorator.grade

    - %w(score).each do |attr_name|
      %dt
        = User.human_attribute_name(attr_name)
      %dd
        = decorator.public_send(attr_name)
    %dt
      = Game.model_name.human
    %dd
      = decorator.won_games_count
      \/
      = decorator.lost_games_count
