%title
  - if @top_page
    = site_title
  - elsif @game
    = site_title @game
  - else
    = site_title @subtitle
= stylesheet_link_tag    'application', media: 'all'
= javascript_include_tag 'application'
= csrf_meta_tags
<!--[if lt IE 9]>
<script src="/html5shiv/html5shiv.js"></script>
<![endif]-->
%meta{ name: "viewport", content: "width=640px" }
- if Rails.env.production?
  = render 'common/google_analytics'

