!!!
%html{ 'xmlns:fb' => "http://ogp.me/ns/fb#" }
  %head
    = render 'common/head'
  - html_class = make_theme_class_from_game(@game)
  %body{ class: html_class }
    - if facebook_enabled?
      = render 'common/facebook_javascript_sdk'
    .whole_container
      %header#global_head
        .inner
          = render 'common/global_head'
      %section#global_body
        .inner{ 'data-pjax-container' => true }
          = yield
          - if facebook_enabled?
            = render 'common/reparse_xfbml'
          = render 'common/notices'
          = render 'common/audio'
          = render 'common/locale'
      %footer#global_foot
        .inner
          = render 'common/google_adsense'
          = render 'common/global_foot'
          = render 'common/notice_reloader'
