!!!
%html
  %head
    %title
      - if @top_page
        = site_title
      - else
        = site_title @subtitle
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %header#global_head
      .inner
        = render 'common/global_head'
    %section#global_body
      .inner{ 'data-pjax-container' => true }
        = yield
        = render 'common/notice'
    %footer#global_foot
      .inner
        = render 'common/global_foot'
